<h2 class="mt-3">New book</h2>
  <%= form_with model: Book.new do |f| %>

    <div class="form-group">
      Title<br>
      <%= f.text_field :title %>
    </div>
    <div class="form-group">
      Opinion<br>
      <%= f.text_area :body %>
    </div>
    <div class="form-group">
      Tag<br>
      <%= f.text_field :category %>
    </div>

    <!--星レビュー機能-->
    <div class="form-group" id="star">
      <%= f.label :star,'評価 ', class:'col-md-3 col-form-label' %>
      <%= f.hidden_field :star, id: :review_star %>
　　</div>
    <script>
　　　$('#star').empty();
      $('#star').raty({
      size     : 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
 　 　　scoreName: 'book[star]',
      half: true,
      });
    </script>


    <!--投稿ボタン-->
    <p><%= f.submit 'Create Book', class: 'btn btn-success' %></p>
  <% end %>